include:
    -   template: Jobs/Secret-Detection.gitlab-ci.yml

variables:
    GO_VERSION: '1.22.4'
    GONOSUMDB: gitlab.com
    GOPRIVATE: gitlab.com/iskaypetcom
    GITLAB_TOKEN: ${CICD_TOKEN}
    GOLANGCI_LINT: latest
    GOEXPERIMENT: nocoverageredesign

default:
    tags:
        - kubernetes-executor

image: docker.io/golang:${GO_VERSION}

.go-cache:
    variables:
        GOPATH: $CI_PROJECT_DIR/.go
        GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
    before_script:
        - export PATH="${PATH}:${GOPATH}/bin"
        - if [ -d "$HOME" ]; then echo "machine gitlab.com login master_token password $GITLAB_TOKEN" > "$HOME/.netrc"; fi
        - mkdir -p .go .golangci-lint
    cache:
        paths:
            - .go/pkg/mod/
            - .golangci-lint/

stages:
    - build

secret_detection:
    stage: build
    dependencies: [ ] # Don't download artifacts

code_navigation:
    stage: build
    allow_failure: true
    before_script:
        - if [ -d "$HOME" ]; then echo "machine gitlab.com login master_token password $GITLAB_TOKEN" > "$HOME/.netrc"; fi
        - go install github.com/sourcegraph/scip-go/cmd/scip-go@latest
        - scip-go
    script:
        - git clone https://github.com/sourcegraph/scip.git --depth=1
        - cd scip
        - go build ./cmd/scip
        - chmod +x scip
        - ./scip convert --from ../index.scip --to ../dump.lsif
    artifacts:
        reports:
            lsif: dump.lsif

compile:
    extends: .go-cache
    stage: build
    script:
        - go mod tidy
        - go build -v ./...
    allow_failure: false
    only:
        - branches

test-report:
    extends: .go-cache
    stage: build
    needs:
        - compile
    variables:
        output: report.xml
    script:
        - go install gotest.tools/gotestsum@latest
        - gotestsum --junitfile report.xml --format testname
    artifacts:
        when: always
        reports:
            junit: report.xml
    allow_failure: false
    only:
        - branches

coverage:
    extends: .go-cache
    stage: build
    needs:
        - test-report
    variables:
        output: coverage-report.out
        html: coverage-report.html
    script:
        - CGO_ENABLED=0 go test ./... -coverprofile=coverage-report.out
        - go tool cover -html=coverage-report.out -o coverage-report.html
        - go tool cover -func=coverage-report.out
    artifacts:
        paths:
            - coverage-report.html
    coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
    allow_failure: false
    only:
        - branches

coverage-report:
    extends: .go-cache
    stage: build
    needs:
        - test-report
    script:
        - GOEXPERIMENT=nocoverageredesign go test ./... -coverprofile=coverage.txt -covermode count
        - go get github.com/boumenot/gocover-cobertura
        - go install github.com/boumenot/gocover-cobertura
        - gocover-cobertura <coverage.txt >coverage.xml
    artifacts:
        reports:
            coverage_report:
                coverage_format: cobertura
                path: coverage.xml
    only:
        - branches

race-condition:
    extends: .go-cache
    stage: build
    needs:
        - test-report
    script:
        - go test -race ./...
    allow_failure: false
    only:
        - branches

linter:
    extends: .go-cache
    stage: build
    needs:
        - compile
    variables:
        output: gl-code-quality-report.json
    script:
        - go install github.com/golangci/golangci-lint/cmd/golangci-lint@${GOLANGCI_LINT}
        - golangci-lint run --issues-exit-code 0 --print-issued-lines=false --out-format code-climate:gl-code-quality-report.json,line-number
    artifacts:
        reports:
            codequality: gl-code-quality-report.json
        paths:
            - gl-code-quality-report.json
    allow_failure: true
    only:
        - branches
